<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="CrowdfundingSolutionEntities" connectionString="metadata=res://*/Model.dbObjectModel.csdl|res://*/Model.dbObjectModel.ssdl|res://*/Model.dbObjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.171;initial catalog=CrowdfundingSolution;user id=sa;password=sa@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>